<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allow-obliterate-device</key>
	<true/>
	<key>application-identifier</key>
	<string>com.apple.homepodsettingsd</string>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>spi</string>
		<string>data-allowed-write</string>
	</array>
	<key>com.apple.CompanionLink</key>
	<true/>
	<key>com.apple.PairingManager.Read</key>
	<true/>
	<key>com.apple.PairingManager.Write</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCDynamicStore-write-access</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>preferences.plist</string>
		<string>com.apple.AutoWake.xml</string>
		<string>com.apple.radios.plist</string>
		<string>com.apple.virtualMemoryMode.plist</string>
		<string>OSThermalStatus.plist</string>
		<string>com.apple.jetsam.plist</string>
	</array>
	<key>com.apple.accessibility.api</key>
	<true/>
	<key>com.apple.accounts.appleidauthentication.defaultaccess</key>
	<true/>
	<key>com.apple.assertiond.system-shell</key>
	<true/>
	<key>com.apple.assistant.settings</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.locationd.authorizeapplications</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.status</key>
	<true/>
	<key>com.apple.locationd.usage_oracle</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.multitasking.termination</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<array>
		<string>ProductType</string>
		<string>UserAssignedDeviceName</string>
	</array>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.airdrop.discovery</key>
	<true/>
	<key>com.apple.private.allow-SUController</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.VoiceTriggerAssets</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingAttentionAssets</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingNLOverrides</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriDictationAssets</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingNL</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingAsrHammer</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriExperienceCam</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriInferredHelpfulness</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriTextToSpeech</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingAsrAssistant</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriFindMyConfigurationFiles</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingAsrUaap</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriUnderstandingMorphun</string>
		<string>com.apple.MobileAsset.Trial.Siri.SiriDialogAssets</string>
	</array>
	<key>com.apple.private.assets.bypass-asset-types-check</key>
	<true/>
	<key>com.apple.private.assets.change-daemon-config</key>
	<true/>
	<key>com.apple.private.coordination.messaging</key>
	<true/>
	<key>com.apple.private.coordination.role</key>
	<true/>
	<key>com.apple.private.homehubd</key>
	<array>
		<string>endpoint-read</string>
	</array>
	<key>com.apple.private.homekit</key>
	<true/>
	<key>com.apple.private.homepod.profiles</key>
	<true/>
	<key>com.apple.private.lockdown.finegrained-get</key>
	<array>
		<string>NULL/DeviceName</string>
		<string>NULL/ActivityURL</string>
	</array>
	<key>com.apple.private.lockdown.finegrained-set</key>
	<array>
		<string>NULL/DeviceName</string>
		<string>com.apple.mobile.user_preferences/UserSetLanguage</string>
		<string>com.apple.mobile.user_preferences/UserSetLocale</string>
	</array>
	<key>com.apple.private.mobiletimerd</key>
	<true/>
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>com.apple.private.seeding.client</key>
	<true/>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>com.apple.private.systempreferences</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceWillow</string>
		<string>kTCCServicePhotos</string>
		<string>kTCCServiceMicrophone</string>
		<string>kTCCServiceMediaLibrary</string>
	</array>
	<key>com.apple.private.xpc.launchd.app-server</key>
	<true/>
	<key>com.apple.proactive.eventtracker</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.homepodaccessorysettings.server</string>
		<string>com.apple.MobileTimer.alarmserver</string>
		<string>com.apple.MobileTimer.timerserver</string>
		<string>com.apple.CompanionLink</string>
		<string>com.apple.homehubd.manage</string>
		<string>com.apple.mobileasset.autoasset</string>
		<string>com.apple.triald.namespace-management</string>
	</array>
	<key>com.apple.security.exception.mach-register.global-name</key>
	<array>
		<string>com.apple.homeaccessorysettings.server</string>
		<string>com.apple.homepodsettings.server</string>
		<string>com.apple.homepodsettings.profile</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.voicetrigger</string>
		<string>com.apple.mediaplaybackcore</string>
		<string>com.apple.audio.puffin</string>
		<string>com.apple.mobileipod</string>
		<string>com.apple.hpsettings.sirisettings</string>
		<string>com.apple.hpsettings.timestamps</string>
		<string>com.apple.assistant.backedup</string>
		<string>com.apple.Accessibility.TouchAccommodations</string>
		<string>com.apple.VoiceOverTouch</string>
		<string>com.apple.Accessibility</string>
		<string>com.apple.doorbell</string>
		<string>com.apple.announce</string>
		<string>com.apple.hpsettings.soundanalysis</string>
		<string>com.apple.MobileSoftwareUpdate</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.sharedpclogging</string>
	</array>
	<key>com.apple.sharing.Client</key>
	<true/>
	<key>com.apple.siri.external_request</key>
	<true/>
	<key>com.apple.soundboard.settings</key>
	<true/>
	<key>com.apple.trial.client</key>
	<array>
		<string>321</string>
		<string>322</string>
		<string>371</string>
		<string>372</string>
		<string>401</string>
		<string>405</string>
		<string>406</string>
		<string>407</string>
		<string>408</string>
		<string>409</string>
		<string>750</string>
		<string>751</string>
		<string>752</string>
		<string>753</string>
		<string>754</string>
		<string>755</string>
		<string>757</string>
		<string>910</string>
		<string>961</string>
		<string>1000</string>
	</array>
	<key>com.apple.voicetrigger.voicetriggerservice</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.identities</string>
		<string>appleaccount</string>
		<string>com.apple.preferences</string>
		<string>com.apple.certificates</string>
		<string>com.apple.airplay</string>
		<string>com.apple.hps.appleconnect</string>
	</array>
</dict>
</plist>
